<a href="https://colab.research.google.com/github/SampathPiriya/Personal-Files/blob/master/Copy_of_pandas_basics_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Consider the following Python dictionary data and Python list labels:**

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4],
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

**1. Create a DataFrame birds from this dictionary data which has the index labels.**

In [11]:
import numpy as np
import pandas as pd

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills',"abc"],
        'age': [3.5, 4, 1.5, 4, 6, 3, 5.5,4, 8, 4,2],
        'visits': [2, 4, 3, 4, 3, 4, 2, 5, 3, 5,2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no',"no"]}


df=pd.DataFrame(data,columns=['birds','age','visits','priority'],index=["a","b","c","d","e","f","g","h","i","j","k"])

print(df)

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  4.0       4      yes
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  4.0       5      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       5       no
k         abc  2.0       2       no

**2. Display a summary of the basic information about birds DataFrame and its data.**

In [12]:
print(df.describe)

print(df.info)

<bound method NDFrame.describe of         birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  4.0       4      yes
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  4.0       5      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       5       no
k         abc  2.0       2       no>
<bound method DataFrame.info of         birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  4.0       4      yes
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  4.0       5      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       5       no
k         abc  2.0       2       no>

**3. Print the first 2 rows of the birds dataframe **

In [13]:
print(df.head(2))

    birds  age  visits priority
a  Cranes  3.5       2      yes
b  Cranes  4.0       4      yes

**4. Print all the rows with only 'birds' and 'age' columns from the dataframe**

In [14]:
#print(df[['birds','age']])
print(df.loc[:,['birds','age']])

        birds  age
a      Cranes  3.5
b      Cranes  4.0
c     plovers  1.5
d  spoonbills  4.0
e  spoonbills  6.0
f      Cranes  3.0
g     plovers  5.5
h      Cranes  4.0
i  spoonbills  8.0
j  spoonbills  4.0
k         abc  2.0

**5. select [2, 3, 7] rows and in columns ['birds', 'age', 'visits']**

In [15]:
#print(df.iloc[:,[[2,3,7]].('birds','age','visits')])

#print(df.loc[[2,3,7], ['birds', 'age','visits']])

print(df['birds'].iloc[2], df['age'].iloc[2],df['visits'].iloc[2])

plovers 1.5 3

In [16]:
#type('visits')

type(df['visits'])

pandas.core.series.Series

**6. select the rows where the number of visits is less than 4**

In [17]:
print(df[df['visits'] < 4])

        birds  age  visits priority
a      Cranes  3.5       2      yes
c     plovers  1.5       3       no
e  spoonbills  6.0       3       no
g     plovers  5.5       2       no
i  spoonbills  8.0       3       no
k         abc  2.0       2       no

In [18]:
type('age')

str

**7. select the rows with columns ['birds', 'visits'] where the age is missing i.e NaN**

In [19]:
#print(df[df[['birds','visits']] & df[df['age' == NaN]])

print(df.loc[(df.age.isnull()),['birds','visits']])

Empty DataFrame
Columns: [birds, visits]
Index: []

**8. Select the rows where the birds is a Cranes and the age is less than 4**

In [20]:
#print(df[df['birds' == 'Cranes'] & (df['age'] < 4))  & df.loc[('age' <4)]

df.query(" 'birds' == 'Cranes' & age < 4")

Empty DataFrame
Columns: [birds, age, visits, priority]
Index: []

**9. Select the rows the age is between 2 and 4(inclusive)**

In [21]:
print(df[df['age'].between(2, 4)])

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
d  spoonbills  4.0       4      yes
f      Cranes  3.0       4       no
h      Cranes  4.0       5      yes
j  spoonbills  4.0       5       no
k         abc  2.0       2       no

**10. Find the total number of visits of the bird Cranes**

In [22]:
#df.count(axis=0)
#b=df.groupby(['birds','visits'])
#b.get_group('Cranes')

df[df["birds"]=="Cranes"].visits.sum()

15

**11. Calculate the mean age for each different birds in dataframe.**

In [23]:
df.groupby('birds')['age'].mean()

birds
Cranes        3.625
abc           2.000
plovers       3.500
spoonbills    5.500
Name: age, dtype: float64

**12. Append a new row 'k' to dataframe with your choice of values for each column. Then delete that row to return the original DataFrame.**

In [24]:
df2 = {'birds': 'sampath', 'age': 26, 'visits': 100, 'priority':'yes',}
df = df.append(df2,ignore_index=True) 
print(df)
#df.drop(columns = 'sampath')
df.drop(df[df['birds'] == 'sampath' ].index , inplace=True)
df.index  = ["a","b","c","d","e","f","g","h","i","j","k"] 
#data = data.drop(columns=["cases", "cases_per_million"])
#df=pd.DataFrame(data,columns=['birds','age','visits','priority'],index=["a","b","c","d","e","f","g","h","i","j","k"])

         birds   age  visits priority
0       Cranes   3.5       2      yes
1       Cranes   4.0       4      yes
2      plovers   1.5       3       no
3   spoonbills   4.0       4      yes
4   spoonbills   6.0       3       no
5       Cranes   3.0       4       no
6      plovers   5.5       2       no
7       Cranes   4.0       5      yes
8   spoonbills   8.0       3       no
9   spoonbills   4.0       5       no
10         abc   2.0       2       no
11     sampath  26.0     100      yes

**13. Find the number of each type of birds in dataframe (Counts)**

In [25]:
print(df.groupby('birds').count())

            age  visits  priority
birds
Cranes        4       4         4
abc           1       1         1
plovers       2       2         2
spoonbills    4       4         4

**14. Sort dataframe (birds) first by the values in the 'age' in decending order, then by the value in the 'visits' column in ascending order.**

In [26]:
#df.sort_values['age' ascending=False] & df.sort_values['visits' ascending=True]

df.sort_values(by=['age', 'visits'], ascending=[False, True])

        birds  age  visits priority
i  spoonbills  8.0       3       no
e  spoonbills  6.0       3       no
g     plovers  5.5       2       no
b      Cranes  4.0       4      yes
d  spoonbills  4.0       4      yes
h      Cranes  4.0       5      yes
j  spoonbills  4.0       5       no
a      Cranes  3.5       2      yes
f      Cranes  3.0       4       no
k         abc  2.0       2       no
c     plovers  1.5       3       no

**15. Replace the priority column values with'yes' should be 1 and 'no' should be 0**

In [27]:
#df.replace('yes' )

df.replace({'priority': {'yes': 1, 'no': 0}})

        birds  age  visits  priority
a      Cranes  3.5       2         1
b      Cranes  4.0       4         1
c     plovers  1.5       3         0
d  spoonbills  4.0       4         1
e  spoonbills  6.0       3         0
f      Cranes  3.0       4         0
g     plovers  5.5       2         0
h      Cranes  4.0       5         1
i  spoonbills  8.0       3         0
j  spoonbills  4.0       5         0
k         abc  2.0       2         0

**16. In the 'birds' column, change the 'Cranes' entries to 'trumpeters'.**

In [28]:
df.replace({'birds' : {'Cranes' : 'trumpeters'}})

        birds  age  visits priority
a  trumpeters  3.5       2      yes
b  trumpeters  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  4.0       4      yes
e  spoonbills  6.0       3       no
f  trumpeters  3.0       4       no
g     plovers  5.5       2       no
h  trumpeters  4.0       5      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       5       no
k         abc  2.0       2       no