<a href="https://colab.research.google.com/github/SampathPiriya/Personal-Files/blob/master/pandas_basics_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Consider the following Python dictionary data and Python list labels:**

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4],
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

**1. Create a DataFrame birds from this dictionary data which has the index labels.**

In [3]:
import numpy as np
import pandas as pd

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame([data],index=labels)
print(df)

                                               birds  ...                                      priority
a  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
b  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
c  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
d  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
e  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
f  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
g  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
h  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
i  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
j  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]

[10 rows x 4 columns]

**2. Display a summary of the basic information about birds DataFrame and its data.**

In [5]:
print(df.describe)

print(df.info)

<bound method NDFrame.describe of                                                birds  ...                                      priority
a  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
b  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
c  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
d  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
e  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
f  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
g  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
h  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
i  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
j  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]

[10 rows x 4 columns]>
<bound method DataFrame.info of                                                birds  ...                                      priority
a  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
b  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
c  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
d  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
e  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
f  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
g  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
h  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
i  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
j  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]

[10 rows x 4 columns]>

**3. Print the first 2 rows of the birds dataframe **

In [6]:
print(df.head(2))

                                               birds  ...                                      priority
a  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
b  [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]

[2 rows x 4 columns]

**4. Print all the rows with only 'birds' and 'age' columns from the dataframe**

In [10]:
#print(df[['birds','age']])
print(df.loc[:,['birds','age']])

                                               birds                                       age
a  [Cranes, Cranes, plovers, spoonbills, spoonbil...  [3.5, 4, 1.5, nan, 6, 3, 5.5, nan, 8, 4]
b  [Cranes, Cranes, plovers, spoonbills, spoonbil...  [3.5, 4, 1.5, nan, 6, 3, 5.5, nan, 8, 4]
c  [Cranes, Cranes, plovers, spoonbills, spoonbil...  [3.5, 4, 1.5, nan, 6, 3, 5.5, nan, 8, 4]
d  [Cranes, Cranes, plovers, spoonbills, spoonbil...  [3.5, 4, 1.5, nan, 6, 3, 5.5, nan, 8, 4]
e  [Cranes, Cranes, plovers, spoonbills, spoonbil...  [3.5, 4, 1.5, nan, 6, 3, 5.5, nan, 8, 4]
f  [Cranes, Cranes, plovers, spoonbills, spoonbil...  [3.5, 4, 1.5, nan, 6, 3, 5.5, nan, 8, 4]
g  [Cranes, Cranes, plovers, spoonbills, spoonbil...  [3.5, 4, 1.5, nan, 6, 3, 5.5, nan, 8, 4]
h  [Cranes, Cranes, plovers, spoonbills, spoonbil...  [3.5, 4, 1.5, nan, 6, 3, 5.5, nan, 8, 4]
i  [Cranes, Cranes, plovers, spoonbills, spoonbil...  [3.5, 4, 1.5, nan, 6, 3, 5.5, nan, 8, 4]
j  [Cranes, Cranes, plovers, spoonbills, spoonbil...  [3.5, 4, 1.5, nan, 6, 3, 5.5, nan, 8, 4]

**5. select [2, 3, 7] rows and in columns ['birds', 'age', 'visits']**

In [23]:
#print(df.iloc[:,[[2,3,7]].('birds','age','visits')])

#print(df.loc[[2,3,7], ['birds', 'age','visits']])

print(df['birds'].iloc[2], df['age'].iloc[2],df['visits'].iloc[2])

['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'] [3.5, 4, 1.5, nan, 6, 3, 5.5, nan, 8, 4] [2, 4, 3, 4, 3, 4, 2, 2, 3, 2]

In [37]:
#type('visits')

type(df['visits'])

pandas.core.series.Series

**6. select the rows where the number of visits is less than 4**

In [33]:
print(df[df['visits'] < 4])

TypeError: ignored

**7. select the rows with columns ['birds', 'visits'] where the age is missing i.e NaN**

In [53]:
print(df[df['birds','visits'] & df['age'.isnull()]])

KeyError: ignored

**8. Select the rows where the birds is a Cranes and the age is less than 4**

In [58]:
print(df[df['birds' == 'Cranes'] & (df['age'] < 4))

SyntaxError: ignored

**9. Select the rows the age is between 2 and 4(inclusive)**

In [59]:
print(df[df['age' <1] & df['age' > 5]])

TypeError: ignored

**10. Find the total number of visits of the bird Cranes**

In [62]:
df[df['birds' == 'Cranes'] & df['visits'].sum()]

KeyError: ignored

**11. Calculate the mean age for each different birds in dataframe.**

In [68]:
df[df.groupby['birds'].mean('age')]

TypeError: ignored

**12. Append a new row 'k' to dataframe with your choice of values for each column. Then delete that row to return the original DataFrame.**

In [71]:
df2 = {'birds': 'sampath', 'age': 26, 'visits': 100, 'priority':'yes'} 
df = df.append(df2, ignore_index = True) 
print(df)
df.drop[df.birds == 'sampath']

                                                birds  ...                                      priority
0   [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
1   [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
2   [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
3   [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
4   [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
5   [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
6   [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
7   [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
8   [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
9   [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
10                                            sampath  ...                                           yes
11                                            sampath  ...                                           yes
12                                            sampath  ...                                           yes
13                                            sampath  ...                                           yes
14                                            sampath  ...                                           yes
15                                            sampath  ...                                           yes

[16 rows x 4 columns]

TypeError: ignored

**13. Find the number of each type of birds in dataframe (Counts)**

In [75]:
df.count[df.groupby['birds']]

#df.groupby['birds'].count()

TypeError: ignored

**14. Sort dataframe (birds) first by the values in the 'age' in decending order, then by the value in the 'visits' column in ascending order.**

In [ ]:
df.sort_values['age' ascending=False] & df.sort_values['visits' ascending=True]

**15. Replace the priority column values with'yes' should be 1 and 'no' should be 0**

In [77]:
#df.replace('yes' )

df.replace({'priority': {'yes': 1, 'no': 0}})

                                                birds  ...                                      priority
0   [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
1   [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
2   [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
3   [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
4   [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
5   [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
6   [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
7   [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
8   [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
9   [Cranes, Cranes, plovers, spoonbills, spoonbil...  ...  [yes, yes, no, yes, no, no, no, yes, no, no]
10                                            sampath  ...                                             1
11                                            sampath  ...                                             1
12                                            sampath  ...                                             1
13                                            sampath  ...                                             1
14                                            sampath  ...                                             1
15                                            sampath  ...                                             1

[16 rows x 4 columns]

**16. In the 'birds' column, change the 'Cranes' entries to 'trumpeters'.**

In [78]:
df.replace[{'birds' : {'Cranes' : 'trumpeters'}}]

TypeError: ignored