<a href="https://colab.research.google.com/github/SampathPiriya/Personal-Files/blob/master/python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Write a function that inputs a number and prints the multiplication table of that number

In [ ]:
import math
k = int(input())
for i in range (1,11) :
 print(i*k)

9
9
18
27
36
45
54
63
72
81
90

In [ ]:
Write a program to print twin primes less than 1000. If two consecutive odd numbers are
both prime then they are known as twin primes

In [27]:
def prime(n):
    for k in range(2,n):
        if(n%k == 0):
                 return False
    return True
            

for i in range(1,1000):
    j=i+2
    if(prime(i) and prime(j)):
        print(i)
        print(j)
        print()

1
3

3
5

5
7

11
13

17
19

29
31

41
43

59
61

71
73

101
103

107
109

137
139

149
151

179
181

191
193

197
199

227
229

239
241

269
271

281
283

311
313

347
349

419
421

431
433

461
463

521
523

569
571

599
601

617
619

641
643

659
661

809
811

821
823

827
829

857
859

881
883

In [ ]:
Write a program to find out the prime factors of a number. Example: prime factors of 56 -
2, 2, 2, 7

In [ ]:
def prime(n):
    for i in range(2,n):
        if(n%i==0):
           return False
    return True
n = int(input())
for i in range(2,n):
    if(n%i==0):
       if(prime(i) == True):
        print(i)

63
3
7

In [ ]:
Write a program to implement these formulae of permutations and combinations.
Number of permutations of n objects taken r at a time: p(n, r) = n! / (n-r)!. Number of
combinations of n objects taken r at a time is: c(n, r) = n! / (r!*(n-r)!) = p(n,r) / r!

In [ ]:
def fact(n):
    m=n
    for i in range(1,n):
       m=m*n
    return m

n= int(input())
r=int(input())
z=n-r

x=fact(n)/fact(z)
print(x)
y=fact(r)*fact(z)
c=fact(n)/y
print(c)

5
3
781.25
28.935185185185187

In [ ]:
Write a function that converts a decimal number to binary number

In [ ]:
n = int(input())
while(n>1):
  m = int(n%2)
  n=n/2
  print(m)

98
0
1
0
0
0
1
1

In [ ]:
. Write a function cubesum() that accepts an integer and returns the sum of the cubes of
individual digits of that number. Use this function to make functions PrintArmstrong() and
isArmstrong() to print Armstrong numbers and to find whether is an Armstrong number.

In [ ]:

n=int(input())

def sum(n):
     s = 0
     while(n != 0):
           m=int(n%10)
           n=int(n/10)
           c=m*m*m
           s=c+s
           print(s)

if(n == sum(n)):
   print("n is %d is Armstrong"%n)

153
27
152
153

In [ ]:
Write a function prodDigits() that inputs a number and returns the product of digits of that
number.

In [ ]:
n=int(input())
s = 1
while(n != 0):
      m=int(n%10)
      n=int(n/10)
      s=m*s
      print(s)

852
2
10
80

In [ ]:
If all digits of a number n are multiplied by each other repeating with the product, the one
digit number obtained at last is called the multiplicative digital root of n. The number of
times digits need to be multiplied to reach one digit is called the multiplicative
persistance of n.
Example: 86 -> 48 -> 32 -> 6 (MDR 6, MPersistence 3)
 341 -> 12->2 (MDR 2, MPersistence 2)
Using the function prodDigits() of previous exercise write functions MDR() and
MPersistence() that input a number and return its multiplicative digital root and
multiplicative persistence respectively

In [ ]:
n=int(input())
s = 1
while(s<10):
      while(n != 0):
            m=int(n%10)
            n=int(n/10)
            s=m*s
            print(s)

856
6
30
240

In [ ]:
9. Write a function sumPdivisors() that finds the sum of proper divisors of a number. Proper
divisors of a number are those numbers by which the number is divisible, except the
number itself. For example proper divisors of 36 are 1, 2, 3, 4, 6, 9, 18

In [ ]:
n = int(input())
for i in range(1,n):
    if(n%i==0):
        print(i)

36
1
2
3
4
6
9
12
18

In [ ]:
A number is called perfect if the sum of proper divisors of that number is equal to the
number. For example 28 is perfect number, since 1+2+4+7+14=28. Write a program to
print all the perfect numbers in a given range

In [ ]:
s=0
n = int(input())
for i in range(1,n):
    if(n%i==0):
        s=s+i
if(s==n):
  print("given number is %d perfect number" %n)
else:
  print("%d not a perfect number" %n)

28
given number is 28 perfect number

In [ ]:
Two different numbers are called amicable numbers if the sum of the proper divisors of
each is equal to the other number. For example 220 and 284 are amicable numbers.

In [ ]:
n = int(input())
m = int(input())
def perfect(k):
         s=0
         for i in range(1,n):
             if(n%i==0):
                s=s+i

if(perfect(n)==m and perfect(m)==n ):
  print("given number is %d perfect number" %n)

220
284

In [ ]:

Write a program which can filter odd numbers in a list by using filter function

In [ ]:
lis=[1,2,3,4,5,6,7,8,9,67,88]
def fun(k):
    if(k%2 ==0):
       return False
    else:
      return True
       
        
          
odd = filter(fun,lis)

for k in odd:
   print(k)

1
3
5
7
9
67

In [ ]:
Write a program which can map() to make a list whose elements are cube of elements in
a given list

In [ ]:
def cube(n):
    return n*n*n


lis = (1, 2, 3, 4, 9, 8 ,7, 0)
r = map(cube, lis)
print(r)

# converting map object to set
m = set(r)
print(m)

<map object at 0x7f03f406f9d0>
{64, 1, 512, 0, 8, 343, 729, 27}

In [ ]:
Write a program which can map() and filter() to make a list whose elements are cube of
even number in a given list

In [ ]:
lis=[1,2,3,4,5,6,7,8,9,67,88]
def fun(k):
    if(k%2 ==0):
       return False
    else:
      return True         
odd = filter(fun,lis)

def cube(n):
    return n*n*n

r = map(cube, odd)
m = set(r)
print(m)

{1, 343, 729, 27, 125, 300763}